.root {

}

.scroll-pane {
    -fx-background: transparent;
}

.label {
    -fx-font-family: Verdana;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-text-alignment: center;
    -fx-text-fill: white;
}

.prop-cell {
    -fx-background-color: transparent;
}

.prop-grid {
    -fx-vgap: 8;
    -fx-padding: 10;
    -fx-grid-lines-visible: false;
}

.prop-label {
    -fx-font-size: 12;
    -fx-font-weight: normal;
    -fx-padding: 5;
}

.combo-box, .combo-box-popup .list-cell  {
    -fx-background-color: #606060;
    -fx-text-fill: white;
}

.combo-box:hover, .combo-box .list-cell:hover, .combo-box:focused, .button:hover,
    .combo-box-popup .list-cell:hover, .text-field:focused, .text-field:hover{
    -fx-background-color: #555555;
}

.combo-box-popup {
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.6), 15, 0, 0, 0  );
}

.combo-box .list-cell {
    -fx-text-fill: white;
}

.titled-pane {
    -fx-collapsible: false;
    -fx-animated: false;
    -fx-pref-width: 300;
    -fx-pref-height: 200;
    -fx-max-height: 200;
    -fx-max-width: 300;
    -fx-backgound: #505050;
    -fx-text-fill: white;
}

.titled-pane *.content {
    -fx-background: #404040;
    -fx-border-color: #303030;
}

.titled-pane .title {
    -fx-background-color: #505050;
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.6), 15, 0, 0, 0 );
}

.asset-manager {
    -fx-pref-height: 225;
    -fx-pref-width: 400;
    -fx-max-height: 225;
    -fx-max-width: 400;
}

.text-field {
    -fx-background-color: #606060;
    -fx-text-fill: white;
}

.button {
    -fx-font-size: 12;
    -fx-min-width: 70;
    -fx-min-height: 20;
    -fx-background-color: #606060;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: #303030;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #484848;
}

.scroll-bar *.thumb {
    -fx-background-color: #505050;
}